<div class = "restaurant">
	<h2><%= link_to restaurant.name, restaurant %></h2>
	
	<p class = "address">
	<h3><%= restaurant.adress %></h3>
	</p>

	<p class = "desc">
	<h3><%= restaurant.description %></h3>
	</p>
	
</div>
